html, body {
}

body {
	background: #F0AF6F;
	font-family: 'Lora', serif;
}

#container {
	width: 100%;
}

#aboutTextBox {
	position: relative;
	width: 70%;
	top: 150px;
	left: 20px;
	display: none;
}
#workTextBox {
	position: relative;
	width: 70%;
	top: 150px;
	left: 20px;
	display: none;
}
#contactTextBox {
	position: relative;
	width: 70%;
	top: 150px;
	left: 20px;
	display: none;
}

p {
	font-size: 50px;
	color: #FFFFFF;
	font-weight: 400;
	font-style: italic;
}

/*---------*/
/* My Name */
/*---------*/

#name {
	position: absolute;
	left: 20px;
	top: 20px;
	background: #FFFFFF;
	padding: 10px;
	width: 300px;
}

#name h1 {
	color: #F0AF6F;
	margin: 0px;
	font-size: 40px;
	text-transform: uppercase;

}

/*---------*/
/* Buttons */
/*---------*/

.button {
	display: inline-block;
	background-color: rgb(255,255,255);
	padding: 5px 7px;
	font-size: 30px;
	font-weight: 700;
	line-height: 25px;
	margin-top: 10px;
	text-decoration: none;
	color: #F0AF6F;
}

#plusButton {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#menu {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

/*------*/
/*Faces!*/
/*------*/

#faceContainer{
	width: 550px;
	height: 464px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin:-225px 0 0 -280px;

}

.faceBox{
	position: absolute;
	width: 100%;
	height: 100%;
}

#face1{
	background-image: url("../img/01.png");
	z-index: -1;
}
#face2{
	background-image: url("../img/02.png");
	z-index: -2;
}
#face3{
	background-image: url("../img/03.png");
	z-index: -3;
}
#face4{
	background-image: url("../img/04.png");
	z-index: -4;
}
#face5{
	background-image: url("../img/05.png");
	z-index: -5;
}
#face6{
	background-image: url("../img/06.png");
	z-index: -6;
}
#face7{
	background-image: url("../img/07.png");
	z-index: -7;
}
#face8{
	background-image: url("../img/08.png");
	z-index: -8;
}
#face9{
	background-image: url("../img/09.png");
	z-index: -9;
}
#face10{
	background-image: url("../img/10.png");
	z-index: -10;
}	
#face11{
	background-image: url("../img/11.png");
	z-index: -11;
}
#face12{
	background-image: url("../img/12.png");
	z-index: -12;
}
#face13{
	background-image: url("../img/13.png");
	z-index: -13;
}
